.steps {
    overflow: hidden;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #cad4c2;
}

.steps__item {
    color: #333;
    position: relative;
    float: left;
    text-shadow: 0 1px 0 #fff;
    text-align: center;
    cursor: pointer;
}

.steps__item a {
    color: #333;
    text-decoration: none;
    padding: 12px 0 12px 35px;
    min-width: 100px;
    text-align: center;
    position: relative;
    display: block;
    float: left;
    z-index: 3;
}

.steps__item::after {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 25px solid #cad4c2;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    left: 100%;
    z-index: 2;
}

.steps__item::before {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 25px solid rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    margin-top: -50px;
    margin-left: 1px;
    left: 100%;
    z-index: 1;
}

.steps__item:hover {
    background-color: #516043;
    text-shadow: 0 1px 0 #333;
}

.steps__item:hover a {
    color: #fff;
}
.steps__item:hover::after{
    border-left: 25px solid #516043;
}


.steps__item.active {
    background-color: #516043;
    text-shadow: 0 1px 0 #333;
}
.steps__item.active a {
    color: #fff;
}
.steps__item.active::after{
    border-left: 25px solid #516043;
}